---
import { formatDate, getPostPermalink, getSummary, normalizeTags } from "../lib/posts.js";

const { posts } = Astro.props;
---

<ol class="post-list">
  {
    posts.map((post) => (
      <li class="post-item">
        <a class="post-title-link" href={getPostPermalink(post)}>
          {post.data.title}
        </a>
        <div class="post-meta">
          <time datetime={post.data.date.toISOString()}>{formatDate(post.data.date)}</time>
          {normalizeTags(post.data.tags).map((tag) => (
            <a href={`/tags/${tag.slug}/`}>#{tag.label}</a>
          ))}
        </div>
        {getSummary(post) && <p>{getSummary(post)}</p>}
      </li>
    ))
  }
</ol>
